.title{
    background-color: lightblue;
}

*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.logo{
    padding-left:40px ;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    padding-left: 20px;
}

.nav-list{
    width: 50%;
    display: flex;
    align-items: center;

}

.nav-list li{
    list-style: none;
    padding: 26px 30px;

}
.nav-list li a,a{
    text-decoration: none;
    color: black;
    

}
.nav-list li a:hover{
    
    color: gray;

}


.rightNav{
    
    text-align: right;
    width: 50%;
}

#search{
    padding-left: 0px;
    margin: 0px;
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 2px;
    background: lightblue;
}
.background{
    background-color: lightblue;
    /* background: rgba(0, 0, 0, 0.7) url('../res/bg2.jpg'); */
    background-size: cover;
    background-blend-mode: darken;
    
}
.btn{
    font-weight: bold;
    margin: 7px;
    padding: 8px 20px;
    border: 2px solid gray;
    border-radius: 8px;
    background-color: lightblue ;
    opacity: 80%;
}

#date,#title,#amount{
    background-color: aliceblue;
    width: 20%;
    text-align: center;
    align-items:flex-end;
    margin-left: 400px;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 2px solid black;
    border-radius: 2px;

}